<marquee class="he"><h1><i>You find the home. I’ll find the loan!!!</i></h1></marquee>
<div class="slider">
<!-- <h1>On time...All time...Every time...</h1> -->
<img src="assets\Home\slide1.jpg" class="slide1">
<img src="assets\Home\slide2.jpg" class="slide2">
<img src="assets\Home\slide3.jpg" class="slide3">
<img src="assets\Home\slide4.jpg" class="slide4">
</div>
<div class="wrapper">
<div class="static-txt">We are</div>
<ul class="dynamic-texts">
<li><span>Fighters</span></li>
<li><span>24 X 7 Hrs</span></li>
<li><span>Best Service</span></li>
<li><span>Ever !!!</span></li>

</ul>

</div>