
<table>
    <tr class="imagess">
<td><h4 class="ah">Photo</h4> <br><img [src]="'data:image/jpeg;base64,'+d.document.photo" height="150"></td>
<td><h4>Signature</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.signature" height="150"></td>
<td><h4>ElectricityBill</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.electricbill" height="150"></td>
<td><td><h4>Adharcard</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.adharcard" height="150"></td>
</tr>

<br>
<tr class="imag">
    <td><h4>Pancard</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.pancard" height="150"></td>
    <td><h4>Propertydoc</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.propertydocument" height="150"></td>
    <td><h4>Passbook</h4><br><img [src]="'data:image/jpeg;base64,'+d.document.bankpassbook" height="150"></td>
</tr>
    </table>