<div class="container">
    <table class="table table-striped"  border="3" >
      <tbody class="table-success">       
        <th>FormNo</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FullName</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pancard</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EmailId</th>
        <th>Gender</th>
        <th>&nbsp; Age</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; cibilscore</th>
      <th>cibilstatus</th>
      <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
<tr *ngFor="let e of enq">
  <td class="table-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{e.formno}}</td>
  <td class="table-secondary">{{e.fullname}}</td>
  <td class="table-primary">{{e.pancard}}</td> 
  <td class="table-success">{{e.email}}</td>
  <td class="table-success">{{e.gender}}</td>
  <td class="table-success">&nbsp; {{e.age}}</td>
  <td class="table-secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{e.cibil.cibilscore}}</td>
  <td class="table-primary">{{e.cibil.cibilstatus}}</td>
  <td><button class="btn btn-primary" type="submit" (click)="mailsend(e)">Send mail</button></td> 
 <td><button class="btn btn-warning" (click)="navigatetocustomer()">Proceed</button></td>
  </tbody>
  </table>
  </div>
 
<router-outlet></router-outlet>





