<div class="container">
    <table class="table table-striped"  border="3" >
      <tbody class="table-success">       
 <th>Form No</th>
<th>Full Name</th>
<th>Mobile No</th>
<th>Email Id</th>
<th>Gender</th>
<th>Age</th>
<th>Cibil Score</th>
<th>Status</th>

<tr *ngFor="let e of enquiry">
   <td class="table-success">{{e.formno}}</td>
  <td class="table-secondary">{{e.fullname}}</td>
  <td class="table-primary">{{e.mobileno}</td>
  <td class="table-primary">{{e.age}}</td>
  <td class="table-success">{{e.gender}}</td> 
  </tbody>
  </table>
  </div>
 
<router-outlet></router-outlet>





