<body background="white">
   
    <mat-toolbar color="silver" class="manubar">
      <mat-toolbar-row >
            <button mat-icon-button class="but">
                <mat-icon (click)="sidenav.toggle();" class="buts">menu</mat-icon>
                </button>
        <h1 class="ss">Credit Manager</h1>
        
        </mat-toolbar-row> 
        <div class="profile"><img src="assets\team\nitin.jpg" alt="profile">
        </div>  
        <h5 class="nitin">Nitin Lande</h5>
        <h6 class="prof">profession:<br>Sales Executive</h6>
        <button class="btn" routerLink="/login">Logout</button>
      </mat-toolbar>
      
        <mat-sidenav-container>
            <mat-sidenav #sidenav class="side">
                <mat-nav-list class="sidenavbar">
                    <a routerLink="customer-list" class="hov"><i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Customer_List</span><a mat-list-item></a></a>
                  <a mat-list-item></a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div style="height: 88vh;">
                    <router-outlet></router-outlet>
                    </div>
            </mat-sidenav-content>
            </mat-sidenav-container>
        
          </body>   
        
        
        
        
        
        
        
        
        