

<marquee><h1 class="bankdetail"><i>Bank Details Form</i></h1></marquee>
<br>
 <!-- <form class="custform" [formGroup]="customerform> -->
    <form class="custform" [formGroup]="bankform" (ngSubmit)="savebank()">
   <div class="mb-4">
     <label  class="form-label" >Accountno</label>
     <input type="text" class="form-control" id="exampleInputNumber" formControlName="accountno" placeholder="Enter Accountno">
      </div>   
   <div class="mb-5">
    <label  class="form-label">IFSCcode</label>
    <input type="text" class="form-control" id="exampleInputNumber" formControlName="ifsccode" placeholder="Enter IFSCcode">   
</div>
<div class="mb-5">
    <label  class="form-label">Bankname</label>
    <input type="text" class="form-control" id="exampleInputNumber" formControlName="bankname" placeholder="Enter Bankname">   
</div>
<div class="mb-5">
    <label  class="form-label">Branchcode</label>
    <input type="text" class="form-control" id="exampleInputNumber" formControlName="branchcode" placeholder="Enter Branchcode">   
</div>
 <button type="submit" class="btn btn-danger" [disabled]="!bankform.valid">NextPage<i class="fa-solid fa-forward"></i></button>
</form> 