*{
    margin: 0;
    padding: 0;
}
.imagess img{
height: 300px;
    width: 300px;
    margin: 25px;
    border: solid black;
}
.imag img{
    height: 300px;
    width: 300px;
    margin: 25px;
    border: solid black;    
}
.small{
    margin-left: 240px;
    margin-top: 70px;
}
.docs{
border: solid black;
}
.jumbotron{
    margin-left: 1150px;
    color :black;
    width: 600px;
    height: 300px;
    border: solid black;
    margin-top: -330px;
}
.text{
    padding: 50px;
}
.btn-warning
{
    border: solid black;
    border-radius: 50px;
    background-color: green;
}
.btn-warning:hover{
    color: white;
}
.btns
{
    border: solid black;
    border-radius: 50px; 
    padding-left: 21px;
    padding-right: 21px;
    background-color: red;
}
.btns:hover{
    color: white;
}
button{
    margin-top: 35px;
}

.report{
    margin-left: 200px;
    
}








